/*  Media Queries  */

/**************  MEDIUM  **************/

@media screen and (max-width: 992px) {
  aside {
    width: 230px;
  }

  nav.navbar,
  main {
    width: calc(100% - 230px);
  }

  .top-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-flow: row wrap;
  }

  .top-bar span {
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
  }

  .top-bar .active::after {
    content: "";
    display: block;
    height: 2px;
    margin: auto;
    margin-top: 5px;
    width: 30%;
    background-color: greenyellow;
  }

  .intersection {
    margin-bottom: 20px;
    width: 80%;
  }

  .row .card {
    padding: 2px;
    position: relative;
    width: calc((100% / 4) - 10px);
    margin-right: 10px;
  }

  .title {
    font-size: 14px;
    padding-top: 5%;
  }

  .artist {
    font-size: 15px;
    font-weight: bold;
    color: #797c80;
    padding-top: 5%;
  }

  #playing {
    height: 100%;
    width: 25%;
    background-color: #282828;
    display: flex;
    align-items: center;
    flex-flow: row;
    gap: 5px;
  }

  .progress {
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    align-items: center;
    margin-top: 15px;
  }

  #controls {
    height: 100%;
    width: 25%;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/**************  SMALL  **************/

@media screen and (max-width: 768px) {
  aside {
    width: 230px;
  }

  nav.navbar,
  main {
    width: calc(100% - 230px);
  }

  .top-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-flow: row wrap;
    justify-content: center;
  }

  .top-bar span {
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
  }

  .top-bar .active::after {
    content: "";
    display: block;
    height: 2px;
    margin: auto;
    margin-top: 5px;
    width: 30%;
    background-color: greenyellow;
  }

  .intersection {
    margin-bottom: 20px;
    width: 80%;
  }

  .row .card {
    padding: 2px;
    position: relative;
    width: calc((100% / 2) - 10px);
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .title {
    font-size: 12px;
    padding-top: 5%;
  }

  .artist {
    font-size: 12px;
    font-weight: bold;
    color: #797c80;
    padding-top: 5%;
  }

  #playing {
    height: 100%;
    width: 25%;
    background-color: #282828;
    display: flex;
    align-items: center;
    flex-flow: row;
    gap: 2px;
  }
  .row-buttons {
    width: 50px;
    height: 30px;
    margin-left: 15px;
    display: flex;
    flex-flow: column;
    column-gap: 5px;
  }

  #tools {
    justify-content: center;
    gap: 10px;
    margin-right: 10px;
    font-size: 12px;
  }
}

/**************  EXTRA SMALL  **************/

@media screen and (max-width: 576px) {
  aside {
    width: 60px;
    font-size: 13px;
    padding-left: 14px;
    padding-right: 0;
    padding-top: 10px;
  }

  .playlist-section {
    display: none;
  }

  .big-logo {
    display: none;
  }

  .small-logo {
    display: block;
  }

  #aside-two .search-button img {
    width: 20px;
    margin-left: 3px;
    margin-bottom: 20px;
  }

  nav.navbar,
  main {
    width: calc(100% - 60px);
  }

  .top-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-flow: row wrap;
    justify-content: center;
  }

  .top-bar span {
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
  }

  .top-bar .active::after {
    content: "";
    display: block;
    height: 2px;
    margin: auto;
    margin-top: 5px;
    width: 30%;
    background-color: greenyellow;
  }

  .intersection {
    margin-bottom: 20px;
    width: 80%;
  }

  .row .card {
    padding: 2px;
    position: relative;
    width: calc((100% / 2) - 10px);
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .title {
    font-size: 12px;
    padding-top: 5%;
  }

  .artist {
    font-size: 12px;
    font-weight: bold;
    color: #797c80;
    padding-top: 5%;
  }

  #playing {
    height: 100%;
    width: 25%;
    background-color: #282828;
    display: flex;
    align-items: center;
    flex-flow: row;
    gap: 1px;
  }

  #playing .track {
    font-size: 11px;
  }

  #playing h3 {
    font-size: 11px;
  }

  .player-buttons {
    flex-flow: row nowrap;
    justify-content: center;
    gap: 15px;
    align-items: center;
    font-size: 15px;
    width: 200px;
  }

  .row-buttons {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    display: flex;
    flex-flow: column;
    column-gap: 5px;
  }

  #tools {
    justify-content: center;
    gap: 10px;
    margin-right: 10px;
    font-size: 12px;
  }

  .collapse {
    display: none;
  }
}
