/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.debug {
  border: 1px solid white;
}

body {
  background-color: black;
  color: white;
}

ul {
  list-style: none;
}

/* Wrapper */

.wrapper {
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

.wrapper-content {
  width: 100%;
  max-width: 100%;
  height: calc(100% - 90px);
  display: flex;
}

/* Side bar */

aside {
  width: 230px;
  height: calc(100vh - 90px);
  background-color: #000000;
  color: #a3a3a3;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
}

.aside-one {
  width: 100%;
  height: 80%;
}

.aside-two {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
}

.aside-one > img {
  width: 70%;
  height: auto;
}

.aside-one > ul {
  margin-bottom: 30px;
}

.search-bar {
  margin-top: 30px;
}
.search-bar img {
  width: 30px;
  height: 30px;
}

.search-bar > li {
  margin-bottom: 15px;
}

.search-button {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.aside-two .search-button img {
  width: 20px;
  height: 20px;
}

.playlist > li {
  margin-bottom: 18px;
}

.playlist {
  margin-top: 10px;
}

.playlist li:first-child {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}

.create-playlist .fa-solid {
  font-size: 40px;
}

.create-playlist {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: white;
}

.user img {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
}

/* Top bar */

nav.top {
  width: calc(100% - 230px);
  height: 90px;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
}

.upgrade {
  background-color: #080b12;
  color: white;
  border: 2px solid white;
  border-radius: 40px;
  padding: 12px 32px;
  width: 250px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Main */

main {
  width: calc(100% - 230px);
  background-color: #141922;
}

.main-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-top: 90px;
}

/* Footer */

footer {
  height: 90px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.music-player {
  height: 100%;
  width: 40%;
  background-color: rgb(5, 139, 0);
}

.controls {
  height: 100%;
  width: 20%;
  background-color: rgb(139, 74, 0);
}

.song {
  height: 100%;
  width: 20%;
  background-color: rgb(197, 136, 255);
}
