/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.debug {
  border: 1px solid white;
}

body {
  background-color: black;
  color: white;
}

ul {
  list-style: none;
}

.flex-container {
  display: flex;
}

.row {
  flex-flow: row wrap;
}

.column {
  flex-flow: column wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Wrapper */

.wrapper {
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

.wrapper-content {
  width: 100%;
  max-width: 100%;
  height: calc(100% - 90px);
  display: flex;
}

/* Side bar */

aside {
  width: 230px;
  height: calc(100vh - 90px);
  background-color: #000000;
  color: #a3a3a3;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: bold;
}

#aside-one {
  width: 100%;
  height: 80%;
}

#aside-two {
  width: 100%;
  height: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
}

#aside-one > img {
  width: 70%;
  height: auto;
}

#aside-one > ul {
  margin-bottom: 30px;
}

#search-bar {
  margin-top: 30px;
}

#search-bar img {
  width: 30px;
  height: 30px;
}

#search-bar > li {
  margin-bottom: 15px;
}

.search-button {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

#aside-two .search-button img {
  width: 20px;
  height: 20px;
}

#playlist > li {
  margin-bottom: 18px;
}

#playlist {
  margin-top: 10px;
}

#playlist li:first-child {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}

#create-playlist .fa-solid {
  font-size: 40px;
}

#create-playlist {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

#user {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: white;
}

#user img {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
}

.playlist li:hover {
  color: white;
  cursor: pointer;
}

/* Hovers */

.search-button span:hover,
#playlist li:hover,
#create-playlist:hover,
.top-bar span:hover,
.row-buttons i:hover,
#playing h3:hover {
  color: white;
  cursor: pointer;
}

.track:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.player-buttons i:hover,
#tools i:hover {
  color: #adff2f;
  cursor: pointer;
}

.player-buttons i:nth-child(3n):hover {
  font: 45px;
}

#upgrade:hover {
  transform: scale(1.1);
}

/* Top bar */

nav.navbar {
  width: calc(100% - 230px);
  height: 90px;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
}

#upgrade {
  background-color: #080b12;
  color: white;
  border: 2px solid white;
  border-radius: 40px;
  padding: 12px 32px;
  width: 240px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 15px;
}

/* Main */

main {
  width: calc(100% - 230px);
  background-color: #141922;
  overflow-y: scroll;
}

.container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-top: 90px;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  flex-flow: row wrap;
}

/* Main - Top Bar */

.top-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  color: grey;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  flex-flow: row wrap;
}

.top-bar * {
  margin-bottom: 7px;
}

.top-bar *::after {
  content: "";
  display: block;
  height: 3px;
  margin: auto;
  margin-top: 5px;
  width: 40%;
}

.top-bar span {
  text-transform: uppercase;
  display: inline-block;
  font-size: 15px;
  padding-left: 25px;
}

.top-bar .active::after {
  content: "";
  display: block;
  height: 2px;
  margin: auto;
  margin-top: 5px;
  width: 50%;
  background-color: greenyellow;
}

/* Sections */

.intersection {
  margin-bottom: 20px;
  height: 5%;
  width: 20%;
}

.second-intersection {
  margin-bottom: 60px;
  margin-top: 120px;
  height: 5%;
  width: 50%;
  line-height: 2em;
}

.intersection,
.second-intersection * {
  margin-bottom: 5px;
}

.second-intersection span {
  color: #797c80;
  font-size: 12 px;
  font-weight: bold;
}

.first-section {
  justify-content: flex-start;
  width: 100%;
  height: 40%;
}

.second-section {
  justify-content: flex-start;
  width: 100%;
  height: 30%;
}

.row .card {
  padding: 5px;
  position: relative;
  width: calc((100% / 6) - 20px);
  margin-right: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.playbutton {
  position: absolute;
  font-size: 75px;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.round-playbutton {
  position: absolute;
  font-size: 75px;
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.img-wrap {
  position: relative;
  width: 250px;
  height: 250px;
}

.card .img-wrap:hover .playbutton {
  display: flex;
}

.card .img-wrap:hover {
  transform: translateY(-10px);
}

.card .img-wrap {
  transition: transform 0.5s;
}

.square .img-wrap:hover .round-playbutton {
  display: flex;
}

.rounded {
  border-radius: 50%;
}

.track-title {
  flex-flow: column;
  align-content: center;
  display: flex;
  justify-content: flex-start;
}

.title {
  font-weight: bold;
  color: white;
  padding-top: 5%;
}

.artist {
  font-weight: bold;
  color: #797c80;
  padding-top: 5%;
}

/* Footer */

footer {
  height: 90px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 4;
  min-height: 90px;
}

.grey-text {
  color: #7e7e7e;
}

/* Left */

#playing {
  height: 100%;
  width: 20%;
  background-color: #282828;
  display: flex;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}

#playing .track {
  font-size: 12px;
}

#playing h3 {
  font-size: 14px;
}

.left-album {
  width: 40px;
  height: 40px;
}

#playing img {
  width: 100%;
  height: 100%;
}

.row-buttons {
  width: 80px;
  height: 30px;
  margin-left: 25px;
  display: flex;
  column-gap: 12px;
}

/* Middle */

#music-player {
  height: 100%;
  width: 50%;
  background-color: #282828;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.player-buttons {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 200px;
}

.player-buttons i:nth-child(3n) {
  font-size: 35px;
}

.player-buttons i:nth-child(3n):hover {
  transform: scale(1.1);
}

.progress {
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 60%;
  height: 10%;
  align-items: center;
  margin-top: 15px;
}

.bar {
  width: 450px;
  background-color: #787878;
  height: 7px;
  border-radius: 20px;
}

.bar-elapsed {
  background-color: white;
  height: 7px;
  width: 30%;
  border-radius: 20px;
}

.progress-tracker {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  transform: translate(600%, -70%);
  display: none;
  cursor: pointer;
}

.bar:hover .progress-tracker {
  display: inline-block;
}

.bar:hover .bar-elapsed {
  background-color: #adff2f;
}

.time-elapsed,
.track-time {
  font-size: 12px;
  font-weight: bold;
}

/* Right */

#controls {
  height: 100%;
  width: 15%;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tools {
  justify-content: space-evenly;
  width: 60%;
  height: 20%;
}

.small-bar {
  width: 150px;
  background-color: #787878;
  height: 4px;
  border-radius: 20px;
}

.volume-bar {
  background-color: white;
  height: 4px;
  width: 25%;
  border-radius: 20px;
}

.volume-tracker {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  transform: translate(140%, -70%);
  display: none;
  cursor: pointer;
}

.small-bar:hover .volume-bar {
  background-color: greenyellow;
}

.small-bar:hover .volume-tracker {
  display: inline-block;
}
